* {
  font-family: 'Red Hat Text', sans-serif;
}

body {
  background-color: hsl(235, 16%, 14%);
}

h1 {
  color: white;
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nums-container {
  position: relative;
  width: 80px;
  height: 60px;
}

.nums-container > * {
  margin: 0 auto;
}

.upper {
  height: 30px;
  width: 60px;
  background-color: blue;
  margin-bottom: 2px;
}

.lower {
  height: 30px;
  width: 60px;
  background-color: blue;
}

.nums {
  position: absolute;
  display: block;
  top: -2px;
  left: 0;
  right: 0;
  text-align: center; 
  color: #fb6087;
  font-size: 3rem;
  font-weight: bold;
/*   background: linear-gradient(to bottom, #333 50%, #ff0066 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.unit {
  display: block;
  color: #8486a9;
  text-align: center;
  text-transform: uppercase;
}